/*普通样式*/
body{margin:0px;font-size:14px;background-color:#FFFFFF;vertical-align:top;line-height:22px;color:#333333;}
td{font-size:14px;vertical-align:top;line-height:22px;color:333333;}
ul,li{padding:0px;margin:0px; list-style:none;}
img{ border:none;}

/*链接样式*/
a{font-size:14px;color:#333333;line-height:22px;text-decoration:none;}
a:link{font-size:14px;color:#333333;line-height:22px;text-decoration:none;}
a:visited{font-size:14px;color:#333333;line-height:22px;text-decoration:none;}
a:hover{font-size:14px;color:#ff0000;line-height:22px;text-decoration:underline;}
a:active{font-size:14px;color:#00ff00;line-height:22px;text-decoration:none;}

a.link_12:link{font-size:12px;line-height:20px;}
a.link_12:visited{font-size:12px;line-height:20px;}
a.link_12:hover{font-size:12px;line-height:20px;}
a.link_12:active{font-size:12px;line-height:20px;}

a.color_blue:link{color:#047DD0;}
a.color_blue:visited{color:#047DD0;}
a.color_blue:hover{color:#047DD0;}
a.color_blue:active{color:#047DD0;}

/*字体样式*/
.font_bold{font-weight:bolder;}
.font_size_12{font-size:12px;}
.font_size_14{font-size:14px;}
.font_size_16{font-size:16px;}
.text_indent_10{text-indent:10px;}
.font_italic{font-style:italic;}
.font_height_100{line-height:100%;}
.font_height_20{line-height:20px;}

/*border样式*/
.border_1{border-width:1px;}
.border_2{border-width:2px;}
.border_000000{border-color:#000000;}
.border_333333{border-color:#333333;}
.border_666666{border-color:#666666;}
.border_999999{border-color:#999999;}
.border_cccccc{border-color:#cccccc;}
.border_solid{border-style:solid;}
.border_dotted{border-style:dotted;}
.border_cccccc{border-color:#cccccc;}

/*对齐*/
.align_left{text-align:left;}
.align_center{text-align:center;}
.align_right{text-align:right;}
.valign_middle{vertical-align:middle;}
.valign_top{vertical-align:top;}
.valign_bottom{vertical-align:bottom;}
.padding_1{padding-top:1px;}
.padding_4{padding-top:4px;}
.padding_5{padding-top:5px;}

/*背景*/
.bg_repeat_x{background-repeat:repeat-x;}